ReactiPop/*.iml
ReactiPop/.gradle
ReactiPop/local.properties
ReactiPop/.idea
ReactiPop/.DS_Store
ReactiPop/build
ReactiPop/captures
ReactiPop/.externalNativeBuild
ReactiPop/.cxx
ReactiPop/local.properties

serveur_central/.env
serveur_central/out/*

visualisation/.idea
visualisation/api/node_modules/
visualisation/api/package-lock.json
visualisation/api/.env
